.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
!node_modules/@sap/**
!node_modules/amdefine/**
!node_modules/fontoxpath/**
!node_modules/sax/**
!node_modules/xmldom/**
webpack.config.js
azure-pipelines.yml
*.vsix
.yarnrc