.vscode/**
.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/@sap/di.code-validation.core/bin/**
!node_modules/@sap/di.code-validation.core/src/**
!node_modules/@sap/di.code-validation.core/*.txt
!node_modules/@sap/di.code-validation.core/*.json
!node_modules/@sap/di.code-validation.core/*.md
!node_modules/@sap/di.code-validation.core/run*
!node_modules/@sap/di.code-validation.core/*.sh
!node_modules/@sap/di.code-validation.core/*.SMF
!node_modules/@sap/di.code-validation.xml/**
!node_modules/amdefine/**
!node_modules/fontoxpath/dist/fontoxpath*
!node_modules/fontoxpath/package.json
!node_modules/fontoxpath/*.md
!node_modules/sax/**
!node_modules/xmldom/**
webpack.config.js
azure-pipelines.yml
*.vsix
.yarnrc